{% extends 'home/base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>House Details: {{ house.name }}</h2>
    <h4>Rooms in this House </h4>

    {% if rooms %}
    {% for room in rooms %}

    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h5 class="card-title"> {{ room.name }} </h5>
                </div>
                <div class="col-md-4 text-right">
                    <!-- in views (room_details)  with room id-->
                    <a href="{% url 'device-list' house.id room.id %}">View Devices</a>

                </div>
            </div>
        </div>

        <div class="card-footer">
            <a href="{% url 'room-delete' house.id room.id %}" class="btn btn-danger">Delete Room</a>
            <a href="{% url 'room-update' house.id room.id %}" class="btn btn-secondary">Update Room</a>
        </div>
    </div>
{% endfor %}
    <a href="{% url 'room-add' house.id %}">Add New Room</a>
    <a href="{% url 'house-list' %}">Back to Houses</a>
    {% else %}
     <p>No rooms added yet.</p>
    <a href="{% url 'room-add' house.id %}">Add New Room</a>
    <a href="{% url 'house-list' %}">Back to Houses</a>
    {% endif %}
</div>
{% endblock content %}