{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if key == 'create' %}
    <h2>Add New House</h2>
{% elif key == 'update' %}
  <h2>Update House</h2>
{% endif %}

  <form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}

    {% if key == 'create' %}
    <button type="submit" class="btn btn-primary">Create House</button>
    {% elif key == 'update' %}
  <button type="submit" class="btn btn-primary">Update House</button>
    {% endif %}

  </form>
  <a href="{% url 'house-list' %}">Back to Houses</a>
{% endblock %}
